---
import Layout from '@layouts/Default.astro';
import seriesData from '../../../data/db.json';
import BlogSummaryCard from '@components/blog/BlogSummaryCard.astro';
---

<Layout
  title='Blog'
  description='Brutal Blog | On this page you can find a collection of blogposts'
  pageTitle='Brutal Blog'
>
  <main class='bg-green p-6'>
    <div id="series-list" class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        seriesData.series.map((serie) => (
          <div class="serie-item" data-name={serie.name.toLowerCase()}>
            <BlogSummaryCard series={serie} />
          </div>
        ))
      }
    </div>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const searchInput = document.getElementById('search-input');
      const seriesItems = document.getElementsByClassName('serie-item');

      searchInput.addEventListener('input', () => {
        const filter = searchInput.value.toLowerCase();

        Array.from(seriesItems).forEach(item => {
          const name = item.getAttribute('data-name');
          if (name.includes(filter)) {
            item.classList.remove('hidden');
          } else {
            item.classList.add('hidden');
          }
        });
      });
    });
  </script>
</Layout>
