---
import Layout from '@layouts/Default.astro';
import LoginForm from '@components/auth/LoginForm.astro';
---

<Layout title="Login" description="Login to your account">
  <main class="p-6">
    <h1>Login</h1>
    <LoginForm />
  </main>
</Layout>
