---
import '../styles/global.css';
---

<html>
  <head>
    <title>Series Recommendations</title>
  </head>
  <body>
    <header>
      <h1>Series Recommendations</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>&copy; 2024 Series Recommendations</p>
    </footer>
  </body>
</html>
